:root{
    --color-dark: #000000;
    --color-bright: #ffffff;
    --color-accent1: #d3d3d3;
    --color-accent2: #4d4d4d;
    --color-main-background: #F9EADC;
    --main: 'Roboto', sans-serif;
    --title: 'Kalam', cursive;
}


html {
    scroll-behavior: smooth; /*ПЛАВНАЯ ПРОКРУТКА ССЫЛОК*/
    font-size: 20px;
}

body{
    background-color: var(--color-main-background);
    font-family: var(--main);
}

body::-webkit-scrollbar {
  width: 0px;               /* ширина всей полосы прокрутки */
}

/* body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);         цвет зоны отслеживания 
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0);     цвет бегунка 
  border-radius: 20px;        округлось бегунка 
  border: rgba(255, 255, 255, 0);   отступ вокруг бегунка 
} */

a{
    color:var(--color-dark);
}

header{
    margin: 25px 0px 30px 0px;
}

/* ВЕРХНЯЯ БОШКА */
.top-header{
    margin: 0 70px;
    display: flex;
    justify-content: space-between;
}

.icon_acc, .icon_geo, .icon_phone, .icon_cart{
    height: 35px;
    vertical-align: middle;
}

/* АНИМАЦИЯ ПОДЧЕРКИВАНИЯ */
.icon_btn:after, .contact_btn:after, .cart_btn:after {
	display: block;
	position: absolute; /*без этого не работает изменение направления(снизу)*/
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: var(--color-dark); /*задаём цвет линии*/
	content: "";
	transition: width 0.2s ease-out; /*задаём время анимации*/
}

.icon_btn:hover:after, .contact_btn:hover:after, .cart_btn:hover:after, .icon_btn:focus:after, .contact_btn:focus:after, .cart_btn:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.icon_btn, .contact_btn, .cart_btn{
    position: relative;
	color: var(--color-dark); /*задаём цвет ссылки*/
	cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
}
/* /АНИМАЦИЯ ПОДЧЕРКИВАНИЯ */
/* /ВЕРХНЯЯ БОШКА */

/* НИЖНЯЯ БОШКА */
.bottom-header{
    margin-top: 15px;
    text-align: center;
    display: grid;
}

/* LOGO */
.main_logo{
    font-family: var(--title);
    font-size: 3.5rem ;
    letter-spacing:-0.2rem;
    display: block;
    margin-bottom: -5px;
    padding-top: 8px;
}

.descr_logo{
    font-family: var(--title);
    font-size: 1.4rem;
    letter-spacing:-0.06rem;
    display: block;
    padding-top: 10px;
    border-top: #000000 3px solid;
}

.LOGO{
    margin: 0 auto;
}
/* /LOGO */

/* MENU */
.menu{
    display: flex;
    justify-content: space-between;
    grid-gap:2vw;
    /* margin: 0 auto; */
}

.menu_bg{
    margin-top: 10px;
    background-color: var(--color-accent2);
    display: flex;
    justify-content: center;
}

.menu_btn{
    font-size: 1.2rem;
    padding: 18px;
    color:var(--color-bright);
}

.menu_btn:hover{
    background-color: var(--color-accent1);
    color: var(--color-accent2);
    transition: 0.3s;
}

.menu_btn:active{
    background-color: var(--color-accent1);
    color: var(--color-bright);
}
/* /MENU */
/* /НИЖНЯЯ БОШКА */

/* BODY */
main > h1{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 15px;
}

main{
    /* display: flex; */
    /* justify-content: center; */
    /* background-color: #fff; */
    max-width: 1600px;
    margin: 0 auto;
}
/* /BODY */

/* ПОДВАЛ */
footer{
    display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3,1fr);
    height: 60px;
    background-color: var(--color-accent2);
    justify-items: center;
}

footer a{
    color: var(--color-bright);
    text-decoration: underline;
    font-size: 1rem;
    padding: 5px 5px;
}

.f_tel{
    grid-column: 2;
    grid-row: 2;
}

.f_mail{
    grid-column: 4;
    grid-row: 2;
}
/* /ПОДВАЛ */

/* ГЛАВНАЯ СТРАНИЦА */

/* ТЕЛО */
/* AD */

/* СДЕЛАТЬ АДАПТИВ ДО 800PX */
/* СДЕЛАТЬ АДАПТИВ ДО 800PX */
/* СДЕЛАТЬ АДАПТИВ ДО 800PX */

.ads{
    display: grid;
    grid-template-columns: 800px minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr);
	grid-template-rows: 1fr 1fr;
	grid-gap: 20px;
    margin-bottom: 70px;
}
/* ИГРА */
.game{
    background-color: green;
    grid-row: span 2;
    aspect-ratio: 4 / 3;
}

.game h1{
    color: white;
    font-size: 100px;
    text-align: center;
    margin-top: 230px;
}
/* /ИГРА */

.trends{
    background-color: black;
}
/* /AD */

/* NEW */
.new, .male_prew, .female_prew, .kid_prew{
    margin-bottom: 70px;
}

.new span, .male_prew span, .female_prew span, .kid_prew span{
    font-size: 2rem;
}

.prew_con{
    min-width: 1460px;
    margin-top: 20px;
    display: grid;
        grid-template-columns: repeat(6, minmax(200px, 1fr));
        grid-template-rows: minmax(300px, 1fr);
        grid-gap: 20px;
}

.prew{
    background-color: black;
    aspect-ratio: 2/2.5;
}
/* /NEW */
/* /ТЕЛО */
/* /ГЛАВНАЯ СТРАНИЦА */





/* CONT */
.cont{
    font-size: 1.2rem;
    display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap:40px;
    justify-items: start;
    justify-content: center;
    margin-bottom: 20px;
}

.adr{
    grid-column: 2;
    grid-row: 1;
    align-self: center;
}

.adr p{
    margin: 0.5rem 0;
}

.adr P:first-child{
    margin-top: 0;
}

.svyz{
    grid-column: 2;
    grid-row: 2;
    align-self: center;
}

.svyz p{
    margin: 0.5rem 0;
}

.svyz p:first-child{
    margin-top: 0;
}

.svyz a{
    text-decoration: underline;
}

.svyz a:hover{
    text-decoration: none;
}

.map{
    grid-column: 1;
    grid-row: 1 / span 3;
    justify-self: end;
}
/* /CONT */


/* КАТАЛОГ */
.cards{
    display: grid;
        grid-template-columns: repeat(5, minmax(268px, 1fr));
        grid-template-rows: repeat(4,1fr);
        grid-gap: 20px;
    margin-bottom: 70px;
}

.card{
    background-color: #000000;
    aspect-ratio: 360/400;
    border-radius: 10px;
    display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    overflow:hidden;
}

.inner_card1{
    grid-column: 1;
    grid-column: 1;
    justify-self: center;
    overflow:hidden;
}

.inner_card1 > img{
    object-fit: cover;
    width: 100%;
    margin-top: -65%;
}

.inner_card2{
    grid-column: 1;
    grid-row: 2;
    display: grid;
        grid-template-columns: repeat(2, minmax(134px, 152px));
        grid-template-rows: repeat(3, 1fr);
        row-gap: 20px;
}

.card_name{
    grid-column: span 2;
    grid-row: 1;
    justify-self: center;
    color: white;
    padding-top: 10px;
}

.card_dcp{
    grid-column: span 2;
    grid-row: 2;
    justify-self: center;
    color: white;
}

.card_price{
    grid-column: 1;
    grid-row: 3;
    justify-self: center;
    color: white;
}

/* /КАТАЛОГ */