:root{
    --color-dark: #000000;
    --color-bright: #ffffff;
    --color-accent1: #d3d3d3;
    --color-accent2: #4d4d4d;
    --color-main-background: #F9EADC;
    --main: 'Roboto', sans-serif;
    --title: 'Kalam', cursive;
}


html {
    scroll-behavior: smooth; /*ПЛАВНАЯ ПРОКРУТКА ССЫЛОК*/
    font-size: 20px;
}

body{
    background-color: var(--color-main-background);
    font-family: var(--main);
}

body::-webkit-scrollbar {
  width: 0px;               /* ширина всей полосы прокрутки */
}

/* body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);         цвет зоны отслеживания 
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0);     цвет бегунка 
  border-radius: 20px;        округлось бегунка 
  border: rgba(255, 255, 255, 0);   отступ вокруг бегунка 
} */

a{
    color:var(--color-dark);
}

header{
    margin: 25px 0px 30px 0px;
}

/* ВЕРХНЯЯ БОШКА */
.top-header{
    margin: 0 70px;
    display: flex;
    justify-content: space-between;
}

.icon_acc, .icon_geo, .icon_phone, .icon_cart{
    height: 35px;
    vertical-align: middle;
}

/* АНИМАЦИЯ ПОДЧЕРКИВАНИЯ */
.icon_btn:after, .contact_btn:after, .cart_btn:after {
	display: block;
	position: absolute; /*без этого не работает изменение направления(снизу)*/
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: var(--color-dark); /*задаём цвет линии*/
	content: "";
	transition: width 0.2s ease-out; /*задаём время анимации*/
}

.icon_btn:hover:after, .contact_btn:hover:after, .cart_btn:hover:after, .icon_btn:focus:after, .contact_btn:focus:after, .cart_btn:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.icon_btn, .contact_btn, .cart_btn{
    position: relative;
	color: var(--color-dark); /*задаём цвет ссылки*/
	cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
}
/* /АНИМАЦИЯ ПОДЧЕРКИВАНИЯ */
/* /ВЕРХНЯЯ БОШКА */

/* НИЖНЯЯ БОШКА */
.bottom-header{
    margin-top: 15px;
    text-align: center;
    display: grid;
}

/* LOGO */
.main_logo{
    font-family: var(--title);
    font-size: 3.5rem ;
    letter-spacing:-0.2rem;
    display: block;
    margin-bottom: -5px;
    padding-top: 8px;
}

.descr_logo{
    font-family: var(--title);
    font-size: 1.4rem;
    letter-spacing:-0.06rem;
    display: block;
    padding-top: 10px;
    border-top: #000000 3px solid;
}

.LOGO{
    margin: 0 auto;
}
/* /LOGO */

/* MENU */
.menu{
    display: flex;
    justify-content: space-between;
    grid-gap:2vw;
    /* margin: 0 auto; */
}

.menu_bg{
    margin-top: 10px;
    background-color: var(--color-accent2);
    display: flex;
    justify-content: center;
}

.menu_btn{
    font-size: 1.2rem;
    padding: 18px;
    color:var(--color-bright);
}

.menu_btn:hover{
    background-color: var(--color-accent1);
    color: var(--color-accent2);
    transition: 0.3s;
}

.menu_btn:active{
    background-color: var(--color-accent1);
    color: var(--color-bright);
}
/* /MENU */
/* /НИЖНЯЯ БОШКА */

/* BODY */
main > h1{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 15px;
}

main{
    max-width: 1600px;
    margin: 0 auto;
}
/* /BODY */

/* ПОДВАЛ */
footer{
    display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3,1fr);
    height: 60px;
    background-color: var(--color-accent2);
    justify-items: center;
}

footer a{
    color: var(--color-bright);
    text-decoration: underline;
    font-size: 1rem;
    padding: 5px 5px;
}

.f_tel{
    grid-column: 2;
    grid-row: 2;
}

.f_mail{
    grid-column: 4;
    grid-row: 2;
}
/* /ПОДВАЛ */

/* ГЛАВНАЯ СТРАНИЦА */

/* ТЕЛО */
/* AD */

/* СДЕЛАТЬ АДАПТИВ ДО 800PX */
/* СДЕЛАТЬ АДАПТИВ ДО 800PX */
/* СДЕЛАТЬ АДАПТИВ ДО 800PX */

.ads{
    display: grid;
    grid-template-columns: 800px minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr);
	grid-template-rows: 1fr 1fr;
	grid-gap: 20px;
    margin-bottom: 70px;
}
/* ИГРА */
.game{
    background-color: green;
    grid-row: span 2;
    aspect-ratio: 4 / 3;
}

.game h1{
    color: white;
    font-size: 100px;
    text-align: center;
    margin-top: 230px;
}
/* /ИГРА */

.trends{
    background-color: black;
}
/* /AD */

/* NEW */
.new, .male_prew, .female_prew, .kid_prew{
    margin-bottom: 70px;
}

.new span, .male_prew span, .female_prew span, .kid_prew span{
    font-size: 2rem;
}

.prew_con{
    min-width: 1460px;
    margin-top: 20px;
    display: grid;
        grid-template-columns: repeat(6, minmax(200px, 1fr));
        grid-template-rows: minmax(300px, 1fr);
        grid-gap: 20px;
}

.prew{
    background-color: black;
    aspect-ratio: 2/2.5;
}
/* /NEW */
/* /ТЕЛО */
/* /ГЛАВНАЯ СТРАНИЦА */





/* CONT */
.cont{
    font-size: 1.2rem;
    display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap:40px;
    justify-items: start;
    justify-content: center;
    margin-bottom: 20px;
}

.adr{
    grid-column: 2;
    grid-row: 1;
    align-self: center;
}

.adr p{
    margin: 0.5rem 0;
}

.adr P:first-child{
    margin-top: 0;
}

.svyz{
    grid-column: 2;
    grid-row: 2;
    align-self: center;
}

.svyz p{
    margin: 0.5rem 0;
}

.svyz p:first-child{
    margin-top: 0;
}

.svyz a{
    text-decoration: underline;
}

.svyz a:hover{
    text-decoration: none;
}

.map{
    grid-column: 1;
    grid-row: 1 / span 3;
    justify-self: end;
}
/* /CONT */


/* КАТАЛОГ */
.cards{
    display: grid;
        grid-template-columns: repeat(5, minmax(268px, 1fr));
        grid-template-rows: repeat(4,1fr);
        grid-gap: 20px;
    margin-bottom: 70px;
}

.card{
    /* background-color: #000000; */
    aspect-ratio: 360/400;
    border-radius: 10px;
    display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    overflow:hidden;
    border: solid 2px var(--color-accent1);
}

.inner_card1{
    grid-column: 1;
    grid-column: 1;
    justify-self: center;
    overflow:hidden;
}

.inner_card1 > img{
    object-fit: cover;
    width: 100%;
    margin-top: -40%;
}

.inner_card2{
    background-color: var(--color-accent2);
    grid-column: 1;
    grid-row: 2;
    display: grid;
        grid-template-columns: repeat(2, minmax(134px, 152px));
        grid-template-rows: repeat(3, 1fr);
        row-gap: 20px;
}

.card_name{
    grid-column: span 2;
    grid-row: 1;
    justify-self: center;
    color: var(--color-bright);
    padding-top: 10px;
}

/* .card_dcp{
    grid-column: span 2;
    grid-row: 2;
    justify-self: center;
    color: var(--color-bright);
} */

.card_price{
    grid-column: span 2;
    grid-row: 2;
    justify-self: center;
    color: var(--color-bright);
}

.card_buy{
    justify-self: center;
    grid-column: 2;
    grid-row: 3;
    color: var(--color-bright);
}

.card_buy:hover{
    color: var(--color-accent1);
}
/* /КАТАЛОГ */


/* PRODUCT_PAGE */
.product{
    display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
    margin-bottom: 70px;
}

/* SLIDER */
.slider{
    position: relative;
    overflow: hidden;
    /* margin: 0 20px; */
    /* max-width: 800px; */
    grid-row: 1;
    aspect-ratio: 1/1;
    align-self: center;
    margin-left: 20px;
    border-radius: 10px;
}

.slider-line{
    background-color: var(--color-dark);
    display: flex;
    align-items: center;
    transition: all 1s;
}

.slider-btn-prev{
    position: absolute;
    left: 3%;
    top: 50%;
    transform: rotate(-90deg) translateY(-50%);
    background-color: transparent;
    border: none;
}

.slider-btn-next{
    position: absolute;
    right: 3%;
    top: 50%;
    transform: rotate(90deg) translateY(-50%);
    background-color: transparent;
    border: none;
}

.slider-wrapper{
    display: flex;
    column-gap: 10px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.slider-dot{
    width: 16px;
    height: 16px;
    border: 1px solid var(--color-dark);
    border-radius: 50px;
}

.slider-dot:hover{
    background-color: var(--color-accent1);
}

.active-dot{
    background-color: var(--color-accent2);
}

.slider-btn-next img, .slider-btn-prev img{
    width: 50px;
}

/* АДАПТИВ */
/* @media(max-width: 850px){
    .slider-btn-next img, .slider-btn-prev img{
        width: calc(20px + (50 - 20) * ((100vw - 320px) / (850 - 320)));

        50 - макс. ширина, которая нам нужна;
        20, 20px - мин. ширина, которая нам нужна;
        100vw - полная ширина экрана;
        320, 320px - мин. разрешение до которого будет уменьш. наше сво-во;
        850 - разрешение экрана, с уоторого начинает ужиматься наш слайдер
    }

    .slider-dot{
        width: calc(10px + (16 - 10) * ((100vw - 320px) / (850 - 320)));
        height: calc(10px + (16 - 10) * ((100vw - 320px) / (850 - 320)));
    }

    .slider-wrapper{
        column-gap: calc(5px + (10 - 5) * ((100vw - 320px) / (850 - 320)));
    }
} */
/* SLIDER */

.product_info{
    grid-column: 2;
    display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto repeat(4, 1fr);
}

.product_name{
    font-size: 2.1rem;
    grid-row: 1;
    grid-column: span 2;
    justify-self: left;
}

.id{
    grid-column: 1;
    grid-row: 2;
}

.count{
    grid-column: 2;
    grid-row: 2;
}

.product_description{
    grid-column: span 2;
    grid-row: 3;
}

.price{
    grid-column: span 2;
    grid-row: 4;
    font-size: 2rem;
}

.add-to-cart{
    font-family: var(--main);   
    font-size: 1rem;
    display: block;
    background-color: var(--color-accent2);
    color: var(--color-bright);
    padding: 20px 80px;
    border-radius: 20px;
    margin-bottom: 5px;
    cursor: pointer;
}

/* /PRODUCT_PAGE */


/* ЛОГИН */
input{
    display: block;
    outline: none;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 1.2rem;
    margin: 0 auto;
    margin-bottom: 30px;
    height: 50px;
    width: 600px;
}

.login > h1, .registr > h1{
    margin-bottom: 50px;
}

.login > form > button, .registr > form > button{
    font-family: var(--main);   
    font-size: 1rem;
    display: block;
    margin: 0 auto;
    background-color: var(--color-accent2);
    color: var(--color-bright);
    padding: 20px 80px;
    border-radius: 20px;
    margin-bottom: 5px;
    cursor: pointer;
}

.pre-rig, .pre-login{
    text-align: center;
    margin-bottom: 70px;
}
/* /ЛОГИН */


/* АККАУНТ */
.account > h1{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
}

.account > h2{
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 10px;
}

.account > h3{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 40px;
}

.account > p{
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 10px;
}

.account > p:last-of-type{
    margin-bottom: 20px;
}

.account > div{
    text-align: center;
    margin-bottom: 70px;
}

.account > div > a{
    font-family: var(--main);   
    font-size: 1rem;
    background-color: var(--color-accent2);
    color: var(--color-bright);
    padding: 0.4rem;
    border-radius: 20px;
    cursor: pointer;
}
/* /АККАУНТ */